@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="img-fluid"><img src="https://www.liderempresarial.com/wp-content/uploads/2021/08/118559321_hi063112836.jpg" style="height: 300px;"></h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
